version: '3'
services:
  mysql:
    volumes:
      # mount for restoring backups
      # - ./backup:/var/lib/backup/:ro
    environment:
      MYSQL_ROOT_PASSWORD: secret
  wiki:
    volumes:
      # Mount for images
      #- /var/lib/images/:/var/www/html/images
    environment:
      VIRTUAL_HOST: wiki.vcap.me
      # use your own 64-character random string here! This example is compromised by definition
      MW_WG_SECRET: "1a0e46df5a9081c7c790dbf60588eea56c87c9634e155572cc2da879147539a3"
      # external server name
      MW_WG_SERVER: http://wiki.vcap.me:8081
      # Changeme
      # MW_WG_SECRET: ""
      MW_WG_SITENAME: RaBeWiki
      MW_WG_METANAMESPACE: RaBeWiki
      MW_WG_DBUSER: root
      MW_WG_DBPASS: secret
      MW_WG_LANGUAGECODE: de-ch
      MW_WG_RAWHTML: 'true'
      # REMOTE_USER login only
      MW_AUTH_CREATEACCOUNT: 'false'
      MW_AUTH_REMOTEUSER: 'true'
      # Activate Maintenance mode
      # MW_WG_READONLY: "Maintenance"
      # Activate debug
      # MW_DEBUG: "true"
  backup:
    volumes:
      # where to store backups (default ./backup)
      # - /var/lib/backup/:/backup
    environment:
      MYSQL_PASSWORD: secret
      # How many days of backups to keep
      # BACKUP_RETENTION: 14
  # parsoid is currently configured with sane defaults by the config in the parsoid subdirectory
  # It is not exposed except through this mediawiki instance. As such you probably don't need to
  # override anything below.
  #parsoid:
  #  environment:
  #    VIRTUAL_HOST: parsoid.vcap.me
