name: Build Container Image

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  container_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v3.6.0
        with:
          images: ghcr.io/radiorabe/mediawiki
          flavor: |
            latest=auto

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./wiki/
          file: ./wiki/Dockerfile
          platforms: linux/amd64
          load: true
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          cache-to: type=gha,mode=max
          
      - uses: azure/container-scan@v0
        with:
          image-name: ${{ steps.docker_meta.outputs.tags }}
          
      - name: Build and push
        id: docker_push
        uses: docker/build-push-action@v2
        with:
          context: ./wiki/
          file: ./wiki/Dockerfile
          platforms: linux/amd64
          load: true
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          cache-from: type=gha
