name: Build Container Image

on:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - main
  pull_request:

jobs:
  container_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.8.0

      - name: Prepare additional Metadata
        id: addtional_meta
        run: |
          echo created=$(date -u +'%Y-%m-%dT%H:%M:%SZ') >> $GITHUB_STATE

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5.6.1
        with:
          images: ghcr.io/radiorabe/mediawiki
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
          labels: |
            name=rabe-mediawiki
            summary=${{ github.event.repository.description }}
            url=${{ github.event.repository.html_url }}
            vcs-ref=${{ github.sha }}
            revision=${{ github.sha }}
            release=${{ github.sha }}
            build-date=${{ steps.addtional_meta.outputs.created }}
            io.k8s.display-name=RaBe Mediawiki
            io.k8s.description=${{ github.event.repository.description }}
            io.openshift.tags=minimal rhel8 rabe mediawiki

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Container Image
        id: docker_build
        uses: docker/build-push-action@v6.10.0
        with:
          context: ./wiki/
          file: ./wiki/Dockerfile
          platforms: linux/amd64
          load: true
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            ${{ steps.meta.outputs.labels }}
            version=${{ steps.meta.outputs.version }}
          cache-to: type=gha,mode=max

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'ghcr.io/radiorabe/mediawiki:${{ steps.meta.outputs.version }}'
          format: 'sarif'
          ignore-unfixed: true
          skip-dirs: /var/www/html/vendor
          scanners: 'vuln,misconfig'
          output: 'trivy.sarif'
          
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy.sarif'

      - name: Push Container Image
        id: docker_push
        uses: docker/build-push-action@v6.10.0
        with:
          context: ./wiki/
          file: ./wiki/Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: |
            ${{ steps.meta.outputs.labels }}
            version=${{ steps.meta.outputs.version }}
          cache-from: type=gha
